{ifloop rel="carousel.front"}
<section class="hero-area">
    <div class="hero-post-slides owl-carousel">
        <!-- Single Hero Post -->

        <!-- Single Hero Post -->
        {loop type="carousel" name="carousel.front" width="1200" resize_mode="borders"}
        <div id="carousel" class="single-hero-post bg-overlay">
            <!-- Post Image -->
            <div class="slide-img bg-img" style="background-image: url({$IMAGE_URL});"></div>
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        &lt;!&ndash; Post Content &ndash;&gt;
                        <div class="hero-slides-content text-center">
                            {if $TITLE}<h2>{$TITLE}</h2>{/if}
                            {if $DESCRIPTION}<p>{$DESCRIPTION nofilter}</p>{/if}
                            <div class="welcome-btn-group">
                                &lt;!&ndash;
                                {if $URL}
                                <a href="{$URL|default:'#'}" class="btn alazea-btn mr-30">{$URL|default:'#'}</a>&ndash;&gt;
                                </a>{/if}
                                <a href="{url path='/contact'}"
                                   class="btn alazea-btn active">{intl l="Find us, Contact us"
                                    d="hookcontact.fo.default"}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {/loop}
    </div>
</section>
{/ifloop}
<!--
<section class="carousel-container">
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-wrapper">
            <div class="carousel-inner">
                {loop type="carousel" name="carousel.front" width="1200" height="390" resize_mode="borders"}
                <figure class="item {if $LOOP_COUNT == 1}active{/if}">
                    {if $URL}<a href="{$URL|default:'#'}">{/if}
                    <img src="{$IMAGE_URL}" alt="{$ALT}">
                    {if $URL}</a>{/if}

                    <div class="carousel-caption">
                        {if $TITLE}<h3>{$TITLE}</h3>{/if}
                        {if $DESCRIPTION}{$DESCRIPTION nofilter}{/if}
                    </div>
                </figure>
                {/loop}
            </div>
        </div>
        <a class="left carousel-control" href="#carousel" data-slide="prev"><span class="icon-prev"></span></a>
        <a class="right carousel-control" href="#carousel" data-slide="next"><span class="icon-next"></span></a>
    </div>
</section>&lt;!&ndash; #carousel &ndash;&gt;
-->
